@use '../helpers' as *;

.agreement {

  &__title {
    font-size: 40px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include mobile {
      flex-direction: column;
      row-gap: 20px;
    }

    &-item {
      display: flex;
      align-items: stretch;
      padding: 60px 20px;
      background-color: white;
      border-radius: 10px;

      @include mobile {
        width: 100%;
      }
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex: 1;
    row-gap: 10px;
  }
}