@use '../helpers' as *;

.calculator {

  &__card {
    background: #5bbce3;
    background: linear-gradient(-90deg,rgba(91, 188, 227, 1) 0%, rgba(158, 207, 255, 1) 39%);
    margin-inline: auto;
    border-radius: 12px;
    padding: 32px;
    width: 100%;
    //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 40px;

    @include tablet {
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__fields-wrapper {
    width: 50%;

    @include tablet {
      width: 100%;
    }
  }

  &__field {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;

    @include tablet {
      font-size: 16px;
    }
  }

  &__title {
    font-size: 50px;
    margin-bottom: 20px;

    @include tablet {
      font-size: 30px;
    }
  }

  &__results {
    margin-top: 20px;
    width: 50%;

    @include tablet {
      width: 100%;
    }

    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
    }

    &-label {
      font-size: 28px;

      @include tablet {
        font-size: 20px;
      }
    }

    &-value {
      font-size: 32px;
      font-weight: bold;

      @include tablet {
        font-size: 20px;
      }
    }
  }

  &__slider-value {
    text-align: right;
    font-size: 18px;
    margin-top: 4px;

    @include tablet {
      font-size: 16px;
    }
  }

  &__input {
    width: 100%;

    &[type=number] {
      padding: 8px;
      font-size: 20px;
      border: none;
      border-radius: 6px;
      text-align: right;

      @include tablet {
        font-size: 16px;
      }
    }

    &[type=range] {
      appearance: none; /* скидання стилів */
      height: 6px;
      border-radius: 3px;
      background: white;
      outline: none;
      cursor: pointer;
    }

    &[type=range]::-webkit-slider-thumb {
      appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: black;
      cursor: pointer;
    }

    &[type=range]::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
      cursor: pointer;
    }
  }
}