@use '../helpers/mixins' as *;
@use '../helpers/media' as *;
@mixin reset-box{
    margin: 0;
    padding: 0;
}
@mixin abox{
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: var(--color-blue);
    @include reset-box;
}
@mixin centralbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{

        &__contants{
            display: flex;
            justify-content: center;
            gap: 100px;
            margin: 0 auto ;
            width: 1440px;
            
        }

         &__box{
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            max-width: 500px;
            height: 250px;
            @include reset-box;
            gap: 10px;
            padding: 20px;
            border-radius: 20px;
         
            h2{
                font-size: 32px;
                @include reset-box;
                color: #3d3d3d;
            }
            p{
                font-size: 18px;
                @include reset-box;
                color: #3d3d3d;
                font-weight: 600;
                

            }
            a{
                @include abox;
                font-weight: 600;
                
            }
            a:hover{
                color: #242323;
                }

            .contact__con{
                display: flex; 
                gap:10px ;
                a{  
                    @include abox;  
                }
                a:hover{
                color: #242323;
                }
            }

        }
     }
