.example {

  &__body {
    &-inner {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__title {
    font-size: 40px;
  }

  &__subtitle {
    font-size: 30px;
  }

  &__text {
    font-size: 18px;
    color: #5a5a5a;
    padding-left: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;

    &-item {
      font-size: 18px;
      color: #5a5a5a;
    }
  }
}