@use '../helpers' as *;

.footer {

  &__map {
    height: 400px;
  }

  &__row {
    background-color: #ADC177 ;  
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 60px;

    @include tablet {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.2s ease;
    font-size: 18px;
    justify-self: start;

    @include tablet {
      font-size: 16px;
    }

    &:hover {
      color: black;
    }
  }

  &__list-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

    @include tablet {
      font-size: 18px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &:first-child {
      align-items: start;
    }

    &:not(:first-child) {
      align-items: center;

      @include tablet {
        align-items: start;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__copyright {
    text-align: center;
    color: white;
    font-size: 14px;
    padding-bottom: 20px;

    @include tablet {
      font-size: 12px;
    }
  }
}