@use '../helpers/mixins' as *;
@use '../helpers/media' as *;
.modal {
display: none;
position: fixed;
inset: 0;
z-index: 1;

&.is-open {
  display: block;
}

&__backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

&__content {
  position: relative;
  max-width: 400px;
  height: 450px ;
  margin: 10vh auto;
  background: white;
  border-radius: 20px;
  padding: 2rem;
  z-index: 1000;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

&__title {
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
}

&__close {
  color: black;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    &__label {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    
    &__input {
        margin-top: 0.5rem;
        padding: 0.75rem;
        border-radius: 20px;
        border: 1px solid #ccc;
        font-size: 1rem;
    }
    
    &__submit {
        width: 185px;
        height: 55px;
        background-color: #000077;
        color: white;
        padding: 0.75rem;
        border: none;
        border-radius: 20px;
        font-size: 1rem;
        cursor: pointer;
      transition: background 0.2s ease;
        align-self: center;
    }
      top:90%;
    }
  }
