@use '../helpers' as *;

.header {

  &__body {
    padding-block: 20px;
    background: #5bbce3;
    background: linear-gradient(-90deg,rgba(91, 188, 227, 1) 0%, rgba(158, 207, 255, 1) 39%);

    &-inner {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      @include tablet {
        row-gap: 0;
      }
    }
  }

  &__call-button {
    @include mobile {
      display: none;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__navigation-one {
    display: flex;
    align-items: center;
    column-gap: 100px;

    @include tablet {
      column-gap: 50px;
    }
  }

  &__navigation-links-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 25px;

    @include tablet {
      display: none;
    }
  }

  &__burger-menu-button {
    @include square(30px);
    @include reset-button;
  }

  &__link {
    @include reset-link;

    color: #303030;
    font-weight: 700;
    font-size: 17px;

    &--page {
      transition: 0.2s ease;
      &:hover {
        color: #000077;
      }
    }

    &-nav-two {
      font-weight: 400;
      font-size: 16px;
    }
  }

  &__navigation-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px 30px;
    border-radius: 7px;

    @include tablet {
      display: none;
    }
  }
}

.header {
  &__navigation-two {
    @include tablet {
      display: none;

      &.is-open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #fff;
        padding: 20px;
        border-radius: 7px;
        gap: 15px;
        left: 0;
        width: 100%;
        z-index: 1;
        position: absolute;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
