@use '../helpers/mixins' as *;
@use '../helpers/media' as *;

.hero {
  background: #5bbce3;
  background: linear-gradient(-90deg,rgba(91, 188, 227, 1) 0%, rgba(158, 207, 255, 1) 39%);

  &__body {
    padding-bottom: 50px;

    &-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      @include tablet {
        grid-template-columns: 1fr;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__title {
    font-size: 55px;
    width: 80%;
    line-height: 1.1;

    @include tablet {
      font-size: 35px;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &-item {
      font-size: 18px;

      @include tablet {
        font-size: 16px;
      }
    }
  }

  &__image {
    @include mobile {
      display: none;
    }
  }

  &__call-button {
    @include mobile {
      width: 100%;
    }
  }
}