@use '../helpers/mixins' as *;
@use '../helpers/media' as *;

.hero {
  &--index{
  background: linear-gradient(-90deg, #ADC177 0%, #D7DFAF 39%);    
  }

  &__body {
    padding-bottom: 50px;

    &-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      @include tablet {
        grid-template-columns: 1fr;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include tablet {
      width: 100%;
    }
  }

  &__title {
    font-size: 55px;
    width: 80%;
    line-height: 1.1;

    @include tablet {
      font-size: 35px;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &-item {
      font-size: 18px;

      @include tablet {
        font-size: 16px;
      }
    }
  }

  &__image {
    justify-self: end;
    @include tablet {
      display: none;
    }
  }

  &__call-button {
    @include mobile {
      width: 100%;
    }
  }
}