@use '../helpers' as *;

.offer {

  &__image {
    @include tablet {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: hidden;
  }

  &__title {
    font-size: 35px;

    @include tablet {
      font-size: 25px;
    }
  }

  &__list {
    // width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    &-item {
      justify-self: start;
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-size: 14px;
    }
  }

  &__label {
    position: absolute;
    top: 5%;
    right: 0;

    &-text {
      font-weight: 600;
      position: absolute;
      z-index: 10;
      width: 100%;
      top: 50%;
      left: 69%;
      translate: -50% -50%;
    }

    &-image {
      position: relative;
    }

    @include mobile {
      display: none;
    }
  }
}