.offers {

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    &-item {
      display: flex;
      align-items: center;
      column-gap: 10px;
      padding: 60px 30px;
      border-radius: 10px;
      position: relative;
      background-color: white;
    }
  }
}