@use '../helpers' as *;

.offer {

  &__image {
    @include tablet {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: hidden;
  }

  &__title {
    font-size: 35px;

    @include tablet {
      font-size: 25px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-size: 14px;
    }
  }

  &__label {
    position: absolute;
    top: 5%;
    right: 0;
    background-image: url("../../assets/icons/label.png");
    z-index: 10;
    width: 215px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    @include mobile {
      display: none;
    }
  }
}