@use '../helpers' as *;

.questions {

  &__title {
    font-size: 30px;

    @include tablet {
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &-item {
      background-color: white;
      padding: 20px;
      border-radius: 20px;
    }
  }
}