@use '../helpers/mixins' as *;
@use '../helpers/media' as *;

.bg-blue-button,
.bg-transparent-button {
  @include reset-button;

  align-self: start;
  justify-self: start;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s ease;
}

.bg-blue-button {
  background-color: #A27F64;
  color: white;

  &:hover {
    background-color: #655247;
  }
}

.bg-transparent-button {
  color: #000000;
  border: 3px solid #A27F64;

  &:hover {
    background-color: #655247;
    border: 3px solid #655247;
    color: #ffffff;
  }
}