@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.03em;
  background-color: #fafafa;
}