@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.03em;
  color: var(--color-gray-50);
  background-color: var(--color-dark);
}