@use 'helpers' as *;

:root {
  --font-family-base: 'Inter', sans-serif;

  --container-width: 1600px;
  --container-padding-x: 140px;

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: 1280px;
  }
}