@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/header';
@use 'blocks/hero';
@use 'blocks/offers';
@use 'blocks/offer';
@use 'blocks/history';
@use 'blocks/advantages';
@use 'blocks/agreement';
@use 'blocks/calculator';
@use 'blocks/questions';
@use 'blocks/question';
@use 'blocks/special-offer';
@use 'blocks/example';
@use 'blocks/footer';
@use 'blocks/advantages-page-ipoteka';
@use 'blocks/contact';
@use 'blocks/form';

@use 'shared/shared';